.traveller {
  width: 100%;
  border-radius: 8px;
  color: black;
  padding: 20px;
  background-color: #e6e4f3;
  box-sizing: border-box;

  &__info {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 12px 0px;
    font-size: 20px;

    &__email {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      margin: 17px 0px;
      font-size: 20px;
    }
  }
}
