.traveller {
  width: 100%;
  border-radius: 8px;
  color: black;
  padding: 20px;
  background-color: #e6e4f3;
  box-sizing: border-box;

  &__info {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 12px 0px;
    font-size: 20px;

    &__food {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      border: 1px solid #5E4AE3;
      border-radius: 5px;
      padding: 5px;
    }

    &__amount {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__email {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      margin: 17px 0px;
      font-size: 20px;
    }
  }
}
