.footer {
  background-color: black;
  width: 100%;
  margin-top: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &__logo {
      width: 45%;
      margin: 25px 0px;
    }
  }

  &__all-rights-reserved {
    padding: 20px;
    margin: 10px;
  }
}
