.totalcard {
  &__title {
    padding: 25px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #808180;
    font-size: 20px;

    &__box-for-name {
      display: flex;
      flex-direction: column;

      &__name-dish {
        padding: 10px 0px;
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }
}
