.home-page {
  background-image: url('@/assets/earth-from-space.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
    padding: 0 1rem;
  }

  &__header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #fff;
    }

    p {
      font-size: 1.2rem;
      color: #ccc;
    }
  }

  .ticket-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;

    &__trip-type {
      display: flex;
      gap: 1rem;
      background-color: white;
      border-radius: 8px;
      width: 84%;
    }

    // Оставляю общие стили для других label (города, даты)
    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      font-weight: 500;
      color: black;
    }

    &__cities {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 0.5rem;
      height: 80px;
    }

    &__submit {
      margin-top: 1rem;
      width: 84%;
      padding: 1.3rem 2rem;
      font-weight: bold;
      background-color: #5e4ae3;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    &__dates-homepage {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
      width: 84%;
      height: 80px;

      // Специальные стили для поля возврата
      .return-date-input {
        .input-field__input--date {
          margin-top: 32px;
        }
      }
    }
  }
}
