.billing-input {
  display: flex;
  flex-direction: column;

   &__error {
      color: #ff6b6b;
      font-size: 14px;
      margin-top: -15px;
      margin-bottom: 10px;
    }

  &__label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }

  &__required {
    color: #ff6b6b;
    margin-left: 2px;
  }

  &__field {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 10px 0px;
    margin-bottom: 20px;
    border: none;
    width: 320px;
    height: 42px;
    font-family: inherit;
    font-size: 1rem;
    background-color: #e6e4f3;
    color: black;

    &::placeholder {
      color: #90a3bf;
    }

    &:focus {
      outline: none;
      border-color: #1e90ff;
      box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.25);
    }

    &:disabled {
      background-color: #f5f5f5;
      color: #999;
      cursor: not-allowed;
      opacity: 0.7;
    }

    &:invalid:not(:placeholder-shown) {
      border-color: #ff6b6b;
      box-shadow: 0 0 0 2px rgba(255, 107, 107, 0.25);
    }
  }

  /* Сбрасываем автозаполнение в Chrome */
  .billing-input__field:-webkit-autofill,
  .billing-input__field:-webkit-autofill:hover,
  .billing-input__field:-webkit-autofill:focus,
  .billing-input__field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #e6e4f3 inset !important; /* тот же фон, что и у поля */
    -webkit-text-fill-color: black !important; /* текст черного цвета */
    transition: background-color 5000s ease-in-out 0s !important; /* предотвращает мигание */
  }
}
