.date-input {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: black;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }

  &__required {
    margin-left: 2px;
  }

  &__field {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    width: 250px;
    height: 42px;
    font-family: inherit;
    font-size: 1rem;
    background-color: white;
    color: black;

    &:focus {
      outline: none;
      border-color: #1e90ff;
      box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.25);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    // Стилизация календарного индикатора
    &::-webkit-calendar-picker-indicator {
      filter: invert(0.9);
      cursor: pointer;
    }
  }

  /* Переопределяем цвет всех частей даты */
  .date-input__field::-webkit-datetime-edit {
    color: black; /* общий цвет текста */
  }

  /* Отдельно задаем для каждой части, чтобы точно перекрыть системные стили */
  .date-input__field::-webkit-datetime-edit-year-field,
  .date-input__field::-webkit-datetime-edit-month-field,
  .date-input__field::-webkit-datetime-edit-day-field {
    color: black;
  }

  /* Цвет разделителей (например, дефисов или точек) между частями даты */
  .date-input__field::-webkit-datetime-edit-text {
    color: black;
  }

  // Специальный стиль для обратной даты (return date)
  &--return &__field {
    margin-top: 24px; // Отступ сверху
  }
}
