.btn {
  margin: 20px 0px;

  &__blue {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1.3rem 2rem;
    font-weight: bold;
    font-size: 20px;
    background-color: #5e4ae3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  &__transparent {
    background-color: inherit;
    border: 2px solid #ff6060;
    color: #ff6060;
    border-radius: 10px;
    padding: 20px 30px;
    width: 430px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  &__confirm-information {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1.3rem 2rem;
    font-weight: bold;
    font-size: 20px;
    // background-color: #5e4ae3;
    background-color: rgb(12, 201, 12);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}
