.review {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  color: black;

  &__title {
    color: #5e4ae3;
    margin: 30px;
    font-size: 40px;
  }

  &__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 800px;

    &__ticket {
      width: 100%;
      border: 2px solid #888988;
      border-radius: 8px;
      margin: 20px 0px;
    }

    &__food {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 25px;
    }

    &__view-more {
      margin: 40px 0px;
      width: 100%;
      color: #5e4ae3;
      font-weight: 600;
      display: flex;
      justify-content: right;
    }

    &__offers {
      width: 100%;
      border: 2px dashed #5e4ae3;
      border-radius: 10px;
      background-color: white;
    }

    &__apply-container {
      width: 100%;
      margin: 40px 0px;
      background-color: white;
    }

    &__total {
      width: 100%;
      border: 2px solid #808180;
      border-radius: 10px;
      background-color: white;
      margin: 40px 0px;
    }

    &__text {
      color: #808180;
      font-size: 18px;
    }

    &__btn {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 20px;
      margin: 20px 0px;
    }

    &__policy {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 40px;

      &__info {
        color: #808180;
        font-size: 18px;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
